.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.project-logo{
  width:40px;
  margin-right: 9px;
  height: 40px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.player-wrapper {
  position: relative;
  padding-top: 15% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.Mediaplayer {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.kotisivu {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 20px;
  right: 20px;
  text-align: right;
}

.MintColoredBorder {
  border: 7px solid #B2DBD6;
}

.ItalicText {
  font-family: Georgia;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}

.HeaderFont {
  font-family: Arial;
  font-weight: black;
}
p {
  font-size: 18px;
}
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}
.omnialainenKjaTP{
  font-family: Arial;
  font-weight: bold;
  font-size:50px;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}
.allCards{
  margin-left: 20px;
  margin-right: 20px;
}

.textParagraph{
  margin: 25px 50px 75px 100px;
  
    font-size: 30px;
    text-align: left;
  
  
  
}
.card-text{
  font-size: 18px;
  text-align: left;
  margin: 10px 20px 10px 20px;
}



.background {
  
  width: 100%;
  height: 94vh;
  position: absolute;
  overflow-y: visible;
  overflow-x: hidden;
  background-image: url('../src/media/koneistaja/_OMN2663.JPG');
  background-repeat: repeat;
  backface-visibility: hidden;
  animation:slideBg 20s linear infinite 0s;
  animation-timing-function: easy-in-out;
}
@keyframes slideBg{
  0%{
    background-image: url('../src/media/koneistaja/_OMN2663.JPG');
  }
  25%{
    background-image: url('../src/media/koneistaja/_OMN2645_1.jpg');
  }
  50%{
    background-image:url('../src/media/koneistaja/_OMN2656_1.jpg')
  }
}

.Infoay li {
  text-align: left;
}

div {
  border-style: dotted;
  border-width: 0px;
}

.kontaktit {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
}

.LinkText {
  color: #D44404;
}

.vaatimukset li {
  text-align: left;
}

.vaatimukset > ul {
  display: inline-block;
}

.textParagraph {
  text-align: center;
  display: block;
}

.textParagraph h1 {
  text-align: left;
}

.lista1 {
  font-size: 18px;
  width: 30%;
  float: right;
}
.lista1 li {
  text-align: left;
}

.lista1 > ul {
  display: inline-block;
}

.lista1 h1 {
  text-align: center;
}

.lista2 {
  font-size: 18px;
  float: left;
  width: 30%;
}

.lista2 > ul {
  display: inline-block;
}

.lista2 li {
  text-align: left;
}