.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-wrapper {
  position: relative;
  padding-top: 15% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.Mediaplayer {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.kotisivu {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 20px;
  right: 20px;
  text-align: right;
}

.MintColoredBorder {
  border: 7px solid #B2DBD6;
}

.ItalicText {
  font-family: Georgia;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}

.HeaderFont {
  font-family: Arial;
  font-weight: bold;
}
p {
  font-size: 18px;
}
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) { background-image: url('../src/media/Koneasentaja/koneenasentaja_bg.jpg'); }

.crossfade > figure:nth-child(2) {
animation-delay: 6s;
background-image: url('../src/media/Koneasentaja/koneenasentaja_bg.jpg');
}

.crossfade > figure:nth-child(3) {
animation-delay: 12s;
background-image: url('../src/media/Koneasentaja/koneenasentaja_bg.jpg');
}

.crossfade > figure:nth-child(4) {
animation-delay: 18s;
background-image: url('../src/media/Koneasentaja/koneenasentaja_bg.jpg');
}

.crossfade > figure:nth-child(5) {
animation-delay: 24s;
background-image: url('../src/media/Koneasentaja/koneenasentaja_bg.jpg');
}


.background {
  
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: visible;
  overflow-x: hidden;
  background-repeat: repeat;
  backface-visibility: hidden;
  animation:slideBg 20s linear infinite 0s;
  animation-timing-function: easy-in-out;
}
@keyframes slideBg{
  0%{
    background-image: url('../src/media/koneistaja/_OMN2642_1.jpg');
  }
  25%{
    background-image: url('../src/media/koneistaja/_OMN2645_1.jpg');
  }
  50%{
    background-image:url('../src/media/koneistaja/_OMN2656_1.jpg')
  }
  75%{
    background-image: url('../src/media/koneistaja/_OMN2663.JPG');
  }
  100%{
    background-image: url('../src/media/koneistaja/_OMN2672.jpg');
  }
}

.Infoay li {
  text-align: left;
}

div {
  border-style: dotted;
  border-width: 0px;
}

.Main {
  background-image: url("./media/Venttiili2.PNG"), url("./media/Venttiili3.PNG");
  background-repeat: no-repeat;
  background-position: 200px 600px, 1270px 650px;
  background-size: auto, 15%;
}

.kontaktit {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
}